<div class="left-part button-group">
  <span
    class="button secondary"
    [class.disabled]="editor.currentIndex() === 0 || !editor.displayedImagesFinal().length"
    (click)="editor.showPrevImage()"
  >
    <span class="icon">
      <app-icon name="arrow-left" [size]="16" />
    </span>
  </span>
  <span
    class="button secondary"
    [class.disabled]="editor.currentIndex() === editor.displayedImagesFinal().length - 1 || !editor.displayedImagesFinal().length"
    (click)="editor.showNextImage()"
  >
    <span class="icon">
      <app-icon name="arrow-right" [size]="16" />
    </span>
  </span>
</div>

<div class="middle-part button-group">
  <span
    class="button secondary"
    [class.disabled]="editor.viewport.scale === editor.maxZoom"
    (click)="editor.zoom('in')"
  >
    <span class="icon">
      <app-icon name="zoom-in" [size]="16" />
    </span>
  </span>
  <span
    class="button secondary"
    [class.disabled]="editor.viewport.scale === 1"
    (click)="editor.zoom('out')"
  >
    <span class="icon">
      <app-icon name="zoom-out" [size]="16" />
    </span>
  </span>
  <span
    class="button secondary"
    [class.disabled]="editor.viewport.scale === 1"
    (click)="editor.resetZoom()"
  >
    <span class="icon">
      <app-icon name="fit-to-screen" [size]="16" />
    </span>
  </span>
  <!-- <span
    class="button secondary"
    [class.disabled]="!auth.canWriteTitle() || !editor.displayedImagesFinal().length || !editor.mainImage"
    (click)="editor.rotate('left')"
  >
    <span class="icon">
      <app-icon name="rotate-left" [size]="16" />
    </span>
  </span> -->
  <span
    class="button secondary"
    [class.disabled]="!auth.canWriteTitle() || !editor.displayedImagesFinal().length || !editor.mainImage"
    (click)="editor.rotate('right')"
  >
    <span class="icon">
      <app-icon name="rotate-right" [size]="16" />
    </span>
  </span>
</div>
