<div class="left-part button-group">
  <span
    class="button secondary"
    [class.disabled]="edtSvc.currentIndex() === 0 || !edtSvc.displayedImagesFinal().length"
    (click)="edtSvc.showPrevImage()"
  >
    <span class="icon">
      <app-icon name="arrow-left" [size]="16" />
    </span>
  </span>
  <span
    class="button secondary"
    [class.disabled]="edtSvc.currentIndex() === edtSvc.displayedImagesFinal().length - 1 || !edtSvc.displayedImagesFinal().length"
    (click)="edtSvc.showNextImage()"
  >
    <span class="icon">
      <app-icon name="arrow-right" [size]="16" />
    </span>
  </span>
</div>

<div class="middle-part button-group">
  <span
    class="button secondary"
    [class.disabled]="edtSvc.viewport.scale === edtSvc.maxZoom"
    (click)="edtSvc.zoom('in')"
  >
    <span class="icon">
      <app-icon name="zoom-in" [size]="16" />
    </span>
  </span>
  <span
    class="button secondary"
    [class.disabled]="edtSvc.viewport.scale === 1"
    (click)="edtSvc.zoom('out')"
  >
    <span class="icon">
      <app-icon name="zoom-out" [size]="16" />
    </span>
  </span>
  <span
    class="button secondary"
    [class.disabled]="edtSvc.viewport.scale === 1"
    (click)="edtSvc.resetZoom()"
  >
    <span class="icon">
      <app-icon name="fit-to-screen" [size]="16" />
    </span>
  </span>
  <span
    class="button secondary"
    (click)="edtSvc.rotate('left')"
  >
    <span class="icon">
      <app-icon name="rotate-left" [size]="16" />
    </span>
  </span>
  <span
    class="button secondary"
    (click)="edtSvc.rotate('right')"
  >
    <span class="icon">
      <app-icon name="rotate-right" [size]="16" />
    </span>
  </span>
</div>
