<h1>CROPILOT - Přihlášení</h1>

<div class="inputs">
  <label for="email">
    E-MAIL
    <input
      id="email"
      name="email"
      type="email"
      [(ngModel)]="authSvc.username"
    />
  </label>
  <label for="password">
    HESLO
    <input
      id="password"
      name="password"
      type="password"
      [(ngModel)]="authSvc.password"
    />
  </label>
</div>

@if (authSvc.error().length) {
  <div class="error">
    <span class="icon">
      <app-icon name="warning" [size]="16"></app-icon>
    </span>
    {{ authSvc.error() }}
  </div>
}

<span
  class="button real-button primary"
  tabindex="0"
  (click)="authSvc.login()"
>Přihlásit se</span>
