<div
  #selectWrapper
  class="select"
>
  <label
    [for]="`select-${inputName()}`"
    class="trigger"
    [style]="`width:${width()}px`"
  >
    <input
      #comboInput
      [id]="`select-${inputName()}`"
      [name]="`select-${inputName()}`"
      class="combo-input"
      [class.used]="usedIn()"
      type="text"
      [placeholder]="selectedOption() ? '' : placeholder()"
      (focus)="open()"
      (blur)="close()"
      [value]="displayedLabel()"
      (input)="onInput($event)"
      (keydown)="onKeyDown($event)"
      [tabindex]="ui.dialogOpen() && location() === 'drawer' ? -1 : 0"
    />
    <span class="icon">
      <app-icon name="chevron-down" [size]="16" />
    </span>
  </label>

  @if (isOpen()) {
    <div class="dropdown">
      <div
        class="items os-pending"
        [style]="`max-height:${maxDropdownHeight()}px`"
      >
        @for (opt of filteredOptions(); track opt.value) {
          @let isSelected = opt.value === value();
          <button
            #item
            class="item"
            [class.browsing]="opt.value === browsingOption()?.value"
            [class.selected]="isSelected"
            [style]="`padding-right:${paddingRight()}px`"
            (mousedown)="select(opt)"
            tabindex="0"
          >
            <span class="label">{{ opt.label }}</span>
            @if (isSelected) {
              <span class="icon">
                <app-icon name="checkmark" [size]="16" />
              </span>
            }
          </button>
        }

        @if (filteredOptions().length === 0) { <div class="empty">Nenalezeny žádné položky</div> }
      </div>
    </div>
  }
</div>