<label
  class="upload-dropzone"
  [class.dragging]="isDragging"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
>
  <input
    #fileInput
    type="file"
    accept="image/png,image/jpeg"
    multiple
    (change)="onFileChange($event)"
  />

  <div class="upload-content">
    <span class="icon">
      <app-icon name="upload" [size]="24" />
    </span>

    <h3>{{ h3() }}</h3>
    <p>{{ formatsAndSizeText() }}</p>

    <span
      class="button real-button tertiary"
      (keydown.space)="fileInput.click()"
      (keydown.enter)="fileInput.click()"
      tabindex="0"
    >{{ btnLabel() }}</span>
  </div>
</label>
