<div class="menu-container" #menu>
  <span 
    class="button secondary menu-icon"
    (click)="toggleMenu()"
    [class.clicked]="show"
    #menu
    cdkOverlayOrigin
  >
    @if (type() === 'menu-primary') {
      <span class="icon">
        <app-icon name="hamburger" [size]="16" />
      </span>
    }
    @if (type() === 'menu-secondary') {
      <span class="icon">
        <app-icon name="more-vertical" [size]="16" />
      </span>
    }
  </span>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="menu"
    [cdkConnectedOverlayOpen]="show"
    (overlayOutsideClick)="show = false"
  >
    <div
      class="menu-bubble"
      [ngClass]="type()"
    >
      @let canWriteTitle = auth.canWriteTitle();
      @if (type() === 'menu-primary') {
        <div class="menu-item first" (click)="onSettingsClick()">
          <span class="icon">
            <app-icon name="settings" [size]="16" />
          </span>
          Nastavení
        </div>
        <div class="menu-item" (click)="onShortcutsClick()">
          <span class="icon">
            <app-icon name="keyboard" [size]="16" />
          </span>
          Klávesové zkratky
        </div>
        <div
          class="menu-item last red"
          [class.disabled]="!canWriteTitle"
          (click)="onResetDocClick()"
        >
          <span class="icon">
            <app-icon name="reset" [size]="16" />
          </span>
          Reset změn v dokumentu
        </div>
      }
      @if (type() === 'menu-secondary') {
        <div
          class="menu-item only-item red"
          [class.disabled]="!canWriteTitle"
          (click)="onResetScanClick()"
        >
          <span class="icon">
            <app-icon name="reset" [size]="16" />
          </span>
          Reset mých změn ve skenu
        </div>
      }
    </div>
  </ng-template>
</div>
